:root {
  --bg:             #f9fafb;
  --text:           #1a1a2e; /* primary color for text */  
  --text-muted:     #6b7280; 
  --radius:         8px;
  --gradient:       linear-gradient(135deg, #00b894, #2d3a8c);
  --hovered-gradient:linear-gradient(135deg, #00a381, #1e2d7a);
  --hovered-btn:    #f3f4f6;
  --danger:         #e53e3e;
  --danger-hover:   #c53030;
  --text-light: #9ca3af;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root  {
  width: 100%;
  height: 100%;
}


body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}


.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*  Main body area  */
.layout__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}


/* Styling the sidebar */
.sidebar {
  width: 260px;
  min-height: 100vh;
  background: white;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

/* Styling the logo section in the sidebar */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 20px 20px;

}

/* Styling the logo text */
.sidebar-logo-text {
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
}

/* Styling the logo image */
.sidebar-logo-image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* Styling the buttons on the sidebar */
.sidebar-button{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 14px;
    border: none;
    border-radius: var(--radius);
    background: transparent;
    color: var(--text-muted);
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    transition: background 0.15s, color 0.15s;
    cursor: pointer;
    gap: 10px;
}

/* Styling the buttons on the sidebar when hoviring */
.sidebar-button:hover{
    background: var(--hovered-btn); 
    color: var(--text);
}

/* Styling active button in the sidebar */
.sidebar-button.active {
  background: var(--gradient);
  color: white;
  font-weight: 600;
  border-radius: var(--radius);
}

/* Styling active button in the sidebar when hoviring */
.sidebar-button.active:hover {
  background: var(--hovered-gradient);
  color: white;
}

/* Styling the buttom of the sidebar */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Styling the logout button */
.logout-button {
  width: 100%;
  padding: 9px 0;
  background: var(--danger);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 13px;
  transition: background 0.2s;
}

/* Styling the logout button when hoviring*/
.logout-button:hover {
  color: var(--danger-hover);
}

/* Styling the user name */
.user-name {
  font-size: 13px;
  font-weight: 600;
  color: var(--text);
}

/* Styling the user role */
.user-role {
  font-size: 11px;
  color: var(--text-light);
}

/* Styling the user image */
.sidebar-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
